div
  h4 个人资料
  
  div.plate-info
    label 姓名：
    span  #{resume.info.name}
    label 性别：
    span #{resume.info.gender}
    label 手机：
    span #{resume.info.mobile}
    label 邮箱：
    span #{resume.info.email}

  h4 职业技能
  div.plate-skill
    ul
      each item in resume.skills
        li
          label= item.name
          span= item.level



