if localEnv.environment == 'development'
  include ./devFooter

script.
  console.log('#{route.controller}.#{route.action}')
  if(typeof APP.#{route.controller}.#{route.action} == 'function'){
    new APP.#{route.controller}.#{route.action}()
  }